@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url(../reset-css/reset.css);

:root {
    --primary-blue : #3274E4;
    --light-blue : #B4CFFD;
    --white: #FFFFFF;
}
* {
    font-family: 'Comfortaa', cursive !important;
}
.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.text-capitalize {
    text-transform: capitalize;
}