@import url(../../components/custom/custom.css);
@import url(../../components/wallpaper-box/wallpaper-box.css);
@import url(../../components/search-bar/search-bar.css);

.header {
    width: 100%;
    height: 500px;
    position: relative;
    padding: 25px 50px 20px 50px;
}
.header::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/header-index/desert.jpg);
    background-size: cover;
    background-position: 0 30%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: -1;
}
.header::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.4;
    z-index: -1;
}
/* ! -------------------------------- container ------------------------------- ! */
.container {
    height: 100%;
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* ! --------------------------------- navbar --------------------------------- ! */
.navbar {
    max-width: 1920px;
}
.github-btn {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--primary-blue);
    background: var(--white);
    border-radius: 8px;
    padding: 8px 20px;
    transition: .3s;
}
.github-btn svg {
    margin-left: 11px;
}
.github-btn:hover {
    filter: brightness(0.9);
}
.header-main-title {
    font-size: 2.3rem;
    letter-spacing: 1px;
    color: var(--white);
}
.header-main-title span {
    color: var(--light-blue);
}
.sign-up-sign-in-box {
    font-size: 1rem;
}
.vertical-bar {
    margin: 0 15px;
    color: var(--white);
}
.sign-up-sign-in-box a {
    text-decoration: none;
    color: var(--white);
}
/* ! ------------------------------- main header ------------------------------ ! */
.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-header-title {
    font-size: 2.5rem;
    color: var(--white);
}
/* ! ------------------------------ footer header ----------------------------- ! */
.created-by__title {
    color: var(--gray);
}
.created-by__title a {
    color: gold;
}
.unsplash_Api {
    color: var(--gray);
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 3px;
    transition: .2s;
    background:rgb(235, 235, 235, 0.2);
}
.flash-down-box {
    width: 70px;
    height: 70px;
    background: var(--primary-blue);
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border-radius: 20px;
    border: 5px solid var(--white);
    cursor: pointer;
    transition: .3s;
}
.flash-down-box svg {
    transform: rotate(-45deg);
}
/* ! ---------------------------------- main ---------------------------------- ! */
.main {
    padding: 0 40px;
    margin: 125px 0 150px 0;
    justify-content: center;
}
.main-wrap {
    max-width: 1990px;
    columns: 3;
    box-sizing: border-box;
    column-gap: 40px;
    padding-bottom: 200px;
}