@import url(../../components/custom/custom.css);

.header {
    width: 100%;
    height: 500px;
    position: relative;
    padding: 25px 50px 20px 50px;
}
.header::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/header-index/desert.jpg);
    background-size: cover;
    background-position: 0 30%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: -1;
}
.header::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.4;
    z-index: -1;
}
/* ! -------------------------------- container ------------------------------- ! */
.container {
    height: 100%;
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* ! --------------------------------- navbar --------------------------------- ! */
.navbar {
    max-width: 1920px;
}
.github-btn {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--primary-blue);
    background: var(--white);
    border-radius: 8px;
    padding: 8px 20px;
    transition: .3s;
}
.github-btn svg {
    margin-left: 11px;
}
.github-btn:hover {
    filter: brightness(0.9);
}
.header-main-title {
    font-size: 2.3rem;
    letter-spacing: 1px;
    color: var(--white);
}
.header-main-title span {
    color: var(--light-blue);
}
.sign-up-sign-in-box {
    font-size: 1rem;
}
.vertical-bar {
    margin: 0 15px;
    color: var(--white);
}
.sign-up-sign-in-box a {
    text-decoration: none;
    color: var(--white);
}
/* ! ------------------------------- main header ------------------------------ ! */
.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-header-title {
    font-size: 2.5rem;
    color: var(--white);
}
/* ! ------------------------------- search bar ------------------------------- ! */
.search-box {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.search-bar {
    background: var(--white);
    width: 50%;
    height: 60px;
    border-radius: 16px;
    padding: 0 10px 0 12px;
    position: relative;
    box-shadow: 0 10px 60px -20px var(--white);
}
.search-icon {
    margin-bottom: -3px;
}
.search-input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0 200px 0 13px;
    color: var(--primary-blue);
    font-size: 1.2rem;
}
.search-input::placeholder {
    font-size: 1.2rem;
    color: #000000;
}
.search-order {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background: var(--primary-blue);
    position: absolute;
    right: 10px;
    transition: .3s;
}
.search-order::before {
    content: "Search by latest";
    margin-right: 10px;
    margin-left: 3px;
    font-size: 1rem;
    color: var(--white);
}
.search-order span:first-child {
    color: var(--white);
}
.arrow-down-order {
    margin: 0 0 -4px 0;
}
.search-order:hover {
    filter: brightness(0.9);
}
.search-submit {
    background: var(--primary-blue);
    padding: 0;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 20px;
    box-shadow: 0 10px 20px -4px var(--primary-blue);
    transition: .2s;
}
.search-submit:hover {
    filter: brightness(0.9);
}
/* ! ------------------------------ footer header ----------------------------- ! */
.created-by__title {
    color: var(--gray);
}
.created-by__title a {
    color: gold;
}
.unsplash_Api {
    color: var(--gray);
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 3px;
    transition: .2s;
    background:rgb(235, 235, 235, 0.2);
}
.flash-down-box {
    width: 70px;
    height: 70px;
    background: var(--primary-blue);
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border-radius: 20px;
    border: 5px solid var(--white);
    cursor: pointer;
    transition: .3s;
}
.flash-down-box svg {
    transform: rotate(-45deg);
}
/* ! ---------------------------------- main ---------------------------------- ! */
.main {
    padding: 0 40px;
    margin: 125px 0 150px 0;
}
.main-wrap {
    columns: 3;
    box-sizing: border-box;
    column-gap: 40px;
    padding-bottom: 200px;
}
.wallpaper-box {
    position: relative;
    break-inside: avoid;
    border-radius: 30px;
    margin-bottom: 40px;
    transition: .3s;
}
.wallpaper-box::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    z-index: -1;
    clip-path: circle(0 at 0 0);
    opacity: 1;
    transition: .7s;
}
.wallpaper-box::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    z-index: 2;
    clip-path: circle(0 at 0 0);
    opacity: 0.5;
    transition: .7s;
}
.wallpaper {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
    cursor: zoom-in;
}
.wallpaper-box:hover {
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.wallpaper-box:hover::before {
    background: var(--white);
    clip-path: circle(200% at 0 0);
    border: 1px solid var(--wallpaper-border);
}
.wallpaper-box:hover::after {
    background: var(--white);
    clip-path: circle(200% at 0 0);
    opacity: 0;
}
.wallpaper-desc {
    visibility: hidden;
    opacity: 0;
    transition: .2s;
    margin-top: -50px;
}
.wallpaper-box:hover .wallpaper-desc {
    position: relative;
    opacity: 1;
    visibility: visible;
    margin-top: 13px;
}
.user-prof {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
}
.user-prof img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user-prof-name {
    color: var(--primary-blue);
    margin-left: 15px;
    text-decoration: none;
}
.download-wallpaper-btn , .like-wallpaper-btn {
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}
.download-wallpaper-btn {
    background: var(--wallpaper-bg);
    border: 2px solid #e2e2e2;
    padding: 4px 8px;
}
.like-wallpaper-btn {
    background: var(--primary-blue);
    margin-right: 10px;
    padding: 5px 10px;
    box-shadow: rgb(50, 116, 228, 0.5) 0px 3px 8px;
}