@import url(../../components/custom/custom.css);
@import url(../../components/search-bar/search-bar.css);

/* ! -------------------------------- container ------------------------------- ! */
.container {
    padding: 0 40px;
    height: 100%;
    display: flex;
    align-items: center;
}
/* ! --------------------------------- header --------------------------------- ! */
.header {
    position: relative;
    height: 130px;
}
.header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/header-index/desert.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 62%;
    z-index: -1;
}
.header::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.3;
    z-index: -1;
}
.header-main-title {
    font-size: 2.3rem;
    letter-spacing: 1px;
    color: var(--white);
    width: 100%;
}
.header-main-title span {
    color: var(--light-blue);
}
/* ! ------------------------------- search-bar ------------------------------- ! */
.search-box {
    margin-top: 0;
    justify-content: end;
}
.search-bar {
    width: 100%;
}